 body {
            margin: 0;
            padding: 0;
            background: url("s.jpg") no-repeat center center fixed;
            background-size: cover;
        }

        .navbar {
            background-color: red;
            padding: 10px;
            color: white;
        }

        .navbar h1 {
            margin: 0;
            font-size: 24px;
            display: inline-block;
        }

        .navbar ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            float: right;
        }

        .navbar ul li {
            display: inline;
            margin-left: 10px;
        }

        .navbar ul li a {
            text-decoration: none;
            color: white;
        }

        .content {
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: calc(100vh - 40px); /* Subtracting navbar height and content padding */
        }

        .content h2 {
            font-size: 36px;
            margin-top: 0;
        }

        .content form {
            margin-top: 20px;
        }

        .content input[type="text"],
        .content input[type="password"] {
            width: 200px;
            padding: 10px;
            margin-bottom: 10px;
        }
         .content input[type="password"] {
         width:200px;
         }
         .content input[type="text"] {
         width:223px;
         }


        .content input[type="submit"] {
            padding: 10px 20px;
            background-color: red;
            color: white;
            border: none;
            cursor: pointer;
        }