<!DOCTYPE html>
<html>
<head>
    <title>Index Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='indexstyles.css') }}">
</head>
<body>
   <div class="navbar">
        <h1>AI Car Parking</h1>
        <ul>
            <li><a href="/hero">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/reg">SignUp</a></li>
        </ul>
    </div>
    <div class="content">
        <h1>About</h1>
        <h2>Welcome to AI Car Parking</h2>
        <h3>Hey Guys, Here you can see the free available parking slots and select the available parking slots make the shopping tension free </h3>
    </div>
</body>
</html>
